html,
body {
  height: 100%;
  background-color: #f5f5f5;
  margin: 0;
}

.sketcher-wrapper {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1080px;
}
canvas {
  background-color: white;
}
